{% extends "layout.html" %}
{% block content %}
  <article class="media content-section shadow p-3 mb-5 bg-body rounded col-xl-11"> 
    <div class="about-section">
    <h1>About Page</h1>
   <h2> Helping Scholars Discover New Insights</h2>

<p>SRC Scholar provides open source and AI-driven search and discovery tools for the global research community.</p>

<p>We index over 2000 scientific papers. Researchers can find similar articles for their search history at a glance. With our new proposed approach using citation network, the recommender system overcome traditional recommendation systems limitations.</p>

</article>
<img src="static/1.png" width="460" height="345" >
</div>
{% endblock content %}
