{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.n_citation }}Citation</a>
        <small class="text-muted">{{ post.year }}</small>
      </div>
      <h3 class="article-title">{{ post.title }}</h3>
      <p class="article-content">{{ post.abstract }}</p>
    </div>
    
  </article>

   
          <div class="content-section">
            <h3>Related Articles</h3>
            
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Articles1</li>
                <li class="list-group-item list-group-item-light">Articles2</li>
                <li class="list-group-item list-group-item-light">Articles3</li>
                <li class="list-group-item list-group-item-light">Articles4</li>
              </ul>
            </p>
          </div>
        

{% endblock content %}